
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Nom</span>
  </div>
  <input [(ngModel)]="formateur.nom" type="text" class="form-control" placeholder="Nom" aria-label="Username" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Prenom</span>
  </div>
  <input [(ngModel)]="formateur.prenom" type="text" class="form-control" placeholder="Prenom" aria-label="Username" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Adresse</span>
  </div>
  <input [(ngModel)]="formateur.adresse" type="text" class="form-control" placeholder="Adresse" aria-label="Username" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Email</span>
  </div>
  <input [(ngModel)]="formateur.email" type="text" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">MotDePasse</span>
  </div>
  <input [(ngModel)]="formateur.motDePasse" type="text" class="form-control" placeholder="Stock" aria-label="Username" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Telephone</span>
  </div>
  <input [(ngModel)]="formateur.telephone" type="text" class="form-control" placeholder="Telephone" aria-label="Username" aria-describedby="basic-addon1">
</div>
<div>
  <button class="btn btn-success"(click)="save()" >Enregistrer</button>
  <a class="btn btn-light" [routerLink]="['/formateur']" routerLinkActive="active">Retour</a>
</div>
