<h1>Liste des techniciens</h1>
<div *ngIf="message" class="alert alert-info">{{message}}</div>
<button class="btn btn-info" [routerLink]="['/technicien/edit']" routerLinkActive="active"> Ajouter un nouveau technicien</button>
<table class="table table-striped">
  <thead>
  <th>ID</th>
  <th>NOM</th>
  <th>PRENOM</th>
  <th>ADRESSE</th>
  <th>EMAIL</th>
  <th>TELEPHONE</th>
  <th>EDITER</th>
  <th>SUPPRIMER</th>
  </thead>
  <tr *ngFor="let t of techniciens">
    <td> {{ t.id }}  </td>
    <td> {{ t.nom }}  </td>
    <td>   {{ t.prenom }}  </td>
    <td>   {{ t.adresse }}    </td>
    <td>   {{ t.email }}    </td>
    <td>   {{ t.telephone }}    </td>
    <td> <a class="btn btn-warning" [routerLink]="['/technicien', t.id]" routerLinkActive="active"> EDITER </a>  </td>
    <td> <button class="btn btn-danger" (click)="delete(t.id)">SUPPRIMER</button> </td>
  </tr>
</table>

