<h1 class="text-center mt-5">Liste des matières</h1>
<div *ngIf="message" class="alert-success">
  {{message}}
</div>
<button [routerLink]="['/matiere/edit']" class="btn btn-info shadow mb-4 mt-4" routerLinkActive="active">Ajouter une nouvelle matière</button>
<table class="table table-striped table-hover">
  <thead>
  <th>ID</th>
  <th>INTITULE</th>
  <th>NIVEAU</th>
  <th>OBJECTIF</th>
  <th>PRE-REQUIS</th>
  <th>CONTENU</th>
  <th>DUREE</th>
  <th>FORMATEUR</th>
  <th>EDITER</th>
  <th>SUPPRIMER</th>
  </thead>
  <tr *ngFor="let mat of matieres">
    <td>{{mat.id}}</td>
    <td>{{mat.nom}}</td>
    <td>{{mat.niveau}}</td>
    <td>{{mat.objectif}}</td>
    <td>{{mat.prerequis}}</td>
    <td>{{mat.contenu}}</td>
    <td>{{mat.nbJours}}</td>
    <td>{{mat.enseignements}}</td>
    <td><button class="btn btn-warning shadow-sm" [routerLink]="['/matiere',mat.id]" routerLinkActive="active">modifier</button>&nbsp;</td>
      <td><button class="btn btn-danger shadow-sm" (click)="delete(mat.id)">Supprimer</button></td>
  </tr>


</table>
