<h1 class="text-center mt-5">Liste des stagiaires</h1>
<div *ngIf="message" class="alert-success">{{message}}</div>
<button class="btn btn-info shadow mb-4 mt-4" [routerLink]="['/stagiaire/edit']" routerLinkActive="active"> Ajouter un nouveau stagiaire</button>
<table class="table table-striped table-hover">
  <thead>
  <th>ID</th>
  <th>NOM</th>
  <th>PRENOM</th>
  <th>ADRESSE</th>
  <th>EMAIL</th>
  <th>TELEPHONE</th>
  <th>ORDINATEUR</th>
  <th>FORMATION</th>
  <th>EDITER</th>
  <th>SUPPRIMER</th>
  </thead>
  <tr *ngFor="let f of stagiaires">
    <td> {{ f.id }}  </td>
    <td> {{ f.nom }}  </td>
    <td> {{ f.prenom }}  </td>
    <td> {{ f.adresse }}    </td>
    <td> {{ f.email }}    </td>
    <td> {{ f.telephone }}    </td>
    <td> {{ f.ordinateur?.code}}    </td>
    <td> {{ f.formation?.titre}}    </td>

    <td><a class="btn btn-warning shadow-sm" [routerLink]="['/stagiaire', f.id]" routerLinkActive="active"> EDITER </a></td>
    <td>
      <button class="btn btn-danger shadow-sm" (click)="delete(f.id)">SUPPRIMER</button>
    </td>
  </tr>
</table>

