*{
  box-sizing: border-box;
}

[class*='col-'] {
  padding-right:0;
  padding-left:0;
  margin-right:0 !important;
  margin-left:0;
}

.col-6{
  margin: 0;

}

.row{
  padding-right:0;
  padding-left:0;
  margin-right:0;
  margin-left:0;
}

.oneDay{
  height: 25px;
}
.twoDays{
  height: 50px !important;
}
.threeDays{
  height: 75px !important;
}
.fourDays{
  height: 100px !important;
}
.fiveDays{
  height: 125px !important;
}


.container{
  padding-right:0;
  padding-left:0;
}

h6{
  margin: 0;
}

.bkg-1{
  background-color: #F4E04D;
}
.bkg-2{
  background-color: #F2ED6F;
}
.bkg-3{
  background-color: #CEE397;
}
.bkg-4{
  background-color: #8DB1AB;
}
.bkg-5{
  background-color: #587792;
}
