<h1>Liste des gestionnaires</h1>
<div *ngIf="message" class="alert alert-info">{{message}}</div>
<a class="btn btn-info" [routerLink]="['/gestionnaire/edit']" routerLinkActive="active"> Ajouter un nouveau gestionnaire</a>
<table class="table">
  <thead>
  <th>ID</th>
  <th>NOM</th>
  <th>PRENOM</th>
  <th>ADRESSE</th>
  <th>EMAIL</th>
  <th>TELEPHONE</th>
  <th>MOT DE PASSE</th>
  <th>EDITER</th>
  <th>SUPPRIMER</th>
  </thead>
  <tr *ngFor="let g of gestionnaires">
    <td> {{ g.id }}  </td>
    <td> {{ g.nom }}  </td>
    <td>   {{ g.prenom }}  </td>
    <td>   {{ g.adresse }}    </td>
    <td>   {{ g.email }}    </td>
    <td>   {{ g.telephone }}    </td>
    <td>   {{ g.motDePasse }}    </td>
    <td> <a class="btn btn-warning" [routerLink]="['/gestionnaire/edit', g.id]" routerLinkActive="active"> Editer </a>  </td>
    <td> <button class="btn btn-danger" (click)="delete(g.id)">Supprimer</button> </td>
  </tr>
</table>

