<h1 class="text-center mt-5">Liste des gestionnaires</h1>
<div *ngIf="message" class="alert-success">{{message}}</div>
<a class="btn btn-info shadow mb-4 mt-4" [routerLink]="['/gestionnaire/edit']" routerLinkActive="active"> Ajouter un nouveau gestionnaire</a>
<table class="table table-striped table-hover">
  <thead>
  <th>ID</th>
  <th>NOM</th>
  <th>PRENOM</th>
  <th>ADRESSE</th>
  <th>EMAIL</th>
  <th>TELEPHONE</th>
  <th>EDITER</th>
  <th>SUPPRIMER</th>
  </thead>
  <tr *ngFor="let g of gestionnaires">
    <td> {{ g.id }}  </td>
    <td> {{ g.nom }}  </td>
    <td>   {{ g.prenom }}  </td>
    <td>   {{ g.adresse }}    </td>
    <td>   {{ g.email }}    </td>
    <td>   {{ g.telephone }}    </td>
    <td> <a class="btn btn-warning shadow-sm" [routerLink]="['/gestionnaire', g.id]" routerLinkActive="active"> Editer </a>  </td>
    <td> <button class="btn btn-danger shadow-sm" (click)="delete(g.id)">Supprimer</button> </td>
  </tr>
</table>

