<div *ngIf="message" class="alert alert-info">{{message}}</div>

<table class="table">
  <thead>
  <th>id</th>
  <th>nom</th>
  <th>prenom</th>
  <th>adresse</th>
  <th>email</th>
  <th>telephone</th>
  <th>mot de passe</th>
  <th>editer</th>
  <th>supprimer</th>
  </thead>
  <tr *ngFor="let g of gestionnaires">
    <td> {{ g.id }}  </td>
    <td> {{ g.nom }}  </td>
    <td>   {{ g.prenom }}  </td>
    <td>   {{ g.adresse }}    </td>
    <td>   {{ g.email }}    </td>
    <td>   {{ g.telephone }}    </td>
    <td>   {{ g.motDePasse }}    </td>
    <td> <a class="btn btn-warning" [routerLink]="['/gestionnaire', g.id]" routerLinkActive="active"> Editer </a>  </td>
    <td> <button class="btn btn-danger" (click)="delete(g.id)">Supprimer</button> </td>
  </tr>
</table>
<a class="btn btn-info" [routerLink]="['/gestionnaire/edit']" routerLinkActive="active"> Ajouter </a>
