<h1>Liste des ordinateurs</h1>
<div *ngIf="message" class="alert-success">
  {{message}}
</div>
<button [routerLink]="['/ordinateur/edit']" class="btn btn-info" routerLinkActive="active">Ajouter un nouvel ordinateur</button>
<table class="table table-striped">
  <thead>
  <th>ID</th>
  <th>CODE</th>
  <th>COÛT(€)/JOUR</th>
  <th>PROCESSEUR</th>
  <th>RAM (Go)</th>
  <th>Disque Dur (Go)</th>
  <th>ANNEE ACHAT</th>
  <th>DISPONIBILITE</th>
  <th>EDITER</th>
  <th>SUPPRIMER</th>
  </thead>
  <tr *ngFor="let ordi of ordinateurs">
    <td>{{ordi.id}}</td>
    <td>{{ordi.code}}</td>
    <td>{{ordi.coutJournee}}</td>
    <td>{{ordi.processeur}}</td>
    <td>{{ordi.quantiteRAM}}</td>
    <td>{{ordi.quantiteDD}}</td>
    <td>{{ordi.anneeAchat}}</td>
    <td>{{ordi.stagiaires}}</td>
    <td><button class="btn btn-warning" [routerLink]="['/ordinateur',ordi.id]" routerLinkActive="active">EDITER</button>&nbsp;</td>
      <td><button class="btn btn-danger" (click)="delete(ordi.id)">SUPPRIMER</button></td>
  </tr>

</table>
