<h1 class="text-center mt-5">Liste des ordinateurs</h1>
<div *ngIf="message" class="alert-success">
  {{message}}
</div>
<button [routerLink]="['/ordinateur/edit']" class="btn btn-info shadow mb-4 mt-4" routerLinkActive="active">Ajouter un nouvel ordinateur</button>
<table class="table table-striped table-hover">
  <thead>
  <th>ID</th>
  <th>CODE</th>
  <th>COÛT(€)/JOUR</th>
  <th>PROCESSEUR</th>
  <th>RAM (Go)</th>
  <th>Disque Dur (Go)</th>
  <th>ANNEE ACHAT</th>
  <th>EDITER</th>
  <th>SUPPRIMER</th>
  </thead>
  <tr *ngFor="let ordi of ordinateurs">
    <td>{{ordi.id}}</td>
    <td>{{ordi.code}}</td>
    <td>{{ordi.coutJournee}}</td>
    <td>{{ordi.processeur}}</td>
    <td>{{ordi.quantiteRAM}}</td>
    <td>{{ordi.quantiteDD}}</td>
    <td>{{ordi.anneeAchat}}</td>
    <td><button class="btn btn-warning shadow-sm" [routerLink]="['/ordinateur',ordi.id]" routerLinkActive="active">EDITER</button>&nbsp;</td>
      <td><button class="btn btn-danger shadow-sm" (click)="delete(ordi.id)">SUPPRIMER</button></td>
  </tr>

</table>
