<div>
  <form (ngSubmit)="send()" [formGroup]="monForm">

    <div class="form-group">
      <label>Duree</label>
      <input name="nbJours" [(ngModel)]="module.nbJours" required class="form-control" #nbJours="ngModel">
    </div>
    <div>
      <input type="submit" value="envoyer"/>
    </div>
  </form>
  <mat-form-field >
    <mat-label>Pokemon</mat-label>
    <mat-select [(value)]="module.matiere">
      <mat-option>-- None --</mat-option>
        <mat-option *ngFor="let matiere of matieres" [value]="matiere">
          {{matiere.nom}}
        </mat-option>
    </mat-select>
  </mat-form-field>
</div>
