<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"><a [routerLink]="['/']" routerLink='Active' class="nav-link">home</a></li>
      <li class="nav-item"><a [routerLink]="['/ordinateurs']" routerLink='Active' class="nav-link">ordinateurs</a></li>
      <li class="nav-item"><a [routerLink]="['/videoprojecteurs']" routerLink='Active' class="nav-link">video-proj</a></li>
      <li class="nav-item"><a [routerLink]="['/salles']" routerLink='Active' class="nav-link">salles</a></li>
      <li class="nav-item"><a [routerLink]="['/formateur']" routerLink='Active' class="nav-link">formateur</a></li>
      <li class="nav-item"><a [routerLink]="['/login']" routerLink='Active' class="nav-link">login</a></li>
      <li class="nav-item"><a [routerLink]="['/users']" routerLink='Active' class="nav-link">liste de users</a></li>
      <li class="nav-item"><a [routerLink]="['/user']" routerLink='Active' class="nav-link">editer un user</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>

</div>
