<h1>Liste des salles</h1>
<div *ngIf="message" class="alert-success">
  {{message}}
</div>
<button [routerLink]="['/salles/edit']" class="btn btn-info" routerLinkActive="active">Ajouter une nouvelle salle</button>
<table class="table table-striped">
  <thead>
  <th>ID</th>
  <th>CODE</th>
  <th>COÛT/JOUR</th>
  <th>CAPACITE</th>
  <th>DISPONIBILITE</th>
  <th>ACTION</th>
  </thead>
  <tr *ngFor="let salle of salles">
    <td>{{salle.id}}</td>
    <td>{{salle.code}}</td>
    <td>{{salle.coutJournee}}</td>
    <td>{{salle.capacite}}</td>
    <td>{{salle.videoprojecteur}}</td>
    <td><button class="btn btn-warning" [routerLink]="['/salles',salle.id]" routerLinkActive="active">modifier</button>&nbsp;
      <button class="btn btn-danger" (click)="delete(salle.id)">Supprimer</button></td>
  </tr>

  <button [routerLink]="['/salles/edit']" class="btn btn-info" routerLinkActive="active">Ajouter une nouvelle salle</button>
</table>
