
<form (ngSubmit)="save()" #monForm="ngForm">
  <div *ngIf="videoprojecteur.id">
    <h1>Modifier un videoprojecteur</h1>
  </div>
  <div *ngIf="!videoprojecteur.id">
    <h1>Ajouter un videoprojecteur</h1>
  </div>

  <div class="input-group mb-3">
    <label class="input-group-text">id</label>
    <input [(ngModel)]="videoprojecteur.id" readonly placeholder="ID généré automatiquement" name="id">
  </div>
  <div class="input-group mb-3">
    <label class="input-group-text" type="text">code</label>
    <input [(ngModel)]="videoprojecteur.code" name="code">
  </div>

  <div class="input-group mb-3">
    <label class="input-group-text" type="text">coût(€)/jour</label>
    <input [(ngModel)]="videoprojecteur.coutJournee" name="coutJournee">
  </div>

  <div class="input-group mb-3">
    <label class="input-group-text">Salle</label>
    <input [(ngModel)]="videoprojecteur.salle" type="radio" name="salle" value="true">Oui
    <input [(ngModel)]="videoprojecteur.salle" type="radio" name="salle" value="false">Non
  </div>
  <button type="submit" class="btn btn-success" [disabled]="monForm.invalid">Enregistrer</button>
  <button  class="btn btn-secondary" [routerLink]="['/videoprojecteurs']" routerLinkActive="active">Retour</button>
</form>
