.h1 {
  color: blue;
  font-family: 'Roboto', sans-serif;
  font-size: 8em;

}
.container{
  width: 50%;
  margin: 15px auto;
  padding: 15px;
  text-align: center;
  background-color: #d7dad8;
  box-shadow: 20px 20px 20px -12px #9ea09e;
  border-radius: 15px;
  opacity : 0.95;
}
img {
  background-image: url("http://www.gif.ovh/french-gif/Informaticien%20Gif/Informaticien%20Gif%20(23).gif");
  width: 60%;
  height: 60%;
}
.h6{
  font-family: 'Lobster', cursive;
  font-size: 2em;
}

.h3 {
  color: darkblue;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
}

body {

}

p {
  color: midnightblue;
}

.toto {
  text-align: center;
  text-color: black;
  margin-left: auto;
  margin-right: auto;
}
