<style>
  @import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
</style>

<body>
<div><h2> </h2></div>
<div class="d-fex justify-content-center">
<div class="card bg-light shadow rounded">
  <div class="welcome">
    <h1 class="h6 text-muted">Welcome  <span *ngIf="login">{{login}}</span></h1>
    <h2 class="h1 card-title text-center">LA FACTORY</h2>
  <div class="container">
    <h3 class="h3 card-title text-center">Usine à talent</h3>
    <br>
    <p>La Factory est une école de formation professionnelle destinée à proposer des talents à des entreprises à l’issue d’un cycle de formation spécialisée.</p>
  </div>
  </div>
  </div>

  <div class="toto">
    <img src="http://www.gif.ovh/french-gif/Informaticien%20Gif/Informaticien%20Gif%20(23).gif"/>
  </div>

</div>

</body>
