<h1>Liste des vidéo-projecteurs</h1>
<div *ngIf="message" class="alert-success">
  {{message}}
</div>
<button [routerLink]="['/videoprojecteur/edit']" class="btn btn-info shadow mb-4 mt-4" routerLinkActive="active">Ajouter un nouveau vidéo-projecteur</button>
<table class="table table-striped table-hover">
  <thead>
  <th>ID</th>
  <th>CODE</th>
  <th>COÛT/JOUR</th>
  <th>EDITER</th>
  <th>SUPPRIMER</th>
  </thead>
  <tr *ngFor="let videopro of videoProjecteurs">
    <td>{{videopro.id}}</td>
    <td>{{videopro.code}}</td>
    <td>{{videopro.coutJournee}}</td>
    <td><button class="btn btn-warning shadow-sm" [routerLink]="['/videoprojecteur',videopro.id]" routerLinkActive="active">modifier</button>&nbsp;</td>
      <td><button class="btn btn-danger shadow-sm" (click)="delete(videopro.id)">Supprimer</button></td>
  </tr>

</table>
