<div class="form-group">
  <ng-container *ngIf="salle.id; else ajouter">
    <h1>Modifier une salle</h1>
  </ng-container>
  <ng-template #ajouter>
    <h1>Ajouter une salle</h1>
  </ng-template>

  <div class="input-group mb-3">
    <label class="input-group-text">id</label>
    <input [(ngModel)]="salle.id" readonly placeholder="ID généré automatiquement" name="id">
  </div>
  <div class="input-group mb-3">
    <label class="input-group-text" type="text">Code</label>
    <input [(ngModel)]="salle.code" name="code">
  </div>

  <div class="input-group mb-3">
    <label class="input-group-text" type="text">Coût(€)/jour</label>
    <input [(ngModel)]="salle.coutJournee" name="coutJournee">
  </div>

  <div class="input-group mb-3">
    <label class="input-group-text" type="number">Capacité(pers.)</label>
    <input [(ngModel)]="salle.capacite" name="capacite">
  </div>

  <!--
    <div class="input-group mb-3">
      <label class="input-group-text">Vidéoprojecteur</label>
      <button [(ngModel)]="salleAvecVideo" type="radio" name="videoprojecteur" value="true" (click)="video()">Oui</button>
      <button [(ngModel)]="salleAvecVideo" type="radio" name="videoprojecteur" value="false" (click)="video()">Non</button>
    </div>
  -->

  <!-- liste déroulante des vidéoproj -->
  <div>
    <select class="form-control" id="videoproj" name="videoproj" [(ngModel)]="salle.videoprojecteur.id">
      <option [value]="null">Non</option>
      <option *ngFor="let vp of videoprojecteurs" [value]="vp.id" [attr.selected]="salle.videoprojecteur.id ? true : null">{{vp.id}}. {{vp.code}}</option>
    </select>
  </div>
  <!--
  <select [(ngModel)]="passenger.Title">
  <option *ngFor="let title of titleArray" [value]="title.Value" [attr.selected]="passenger.Title==title.Text ? true : null"> {{title.Text}}
  </option>
      </select>
  -->

  <!-- <ng-template #sansVideo>
     dispo
   </ng-template> -->

  <div>
    <button class="btn btn-success" (click)="save()">Enregistrer</button>
    <a class="btn btn-secondary" [routerLink]="['/salles']" routerLinkActive="active">Retour</a>
  </div>

</div>
