<h1>Liste des formations</h1>
<div *ngIf="message" class="alert-success">
  {{message}}
</div>
<button [routerLink]="['/formation/create']" class="btn btn-info" routerLinkActive="active">Ajouter une nouvelle formation</button>
<table class="table table-striped">
  <thead>
  <th>ID</th>
  <th>TITRE</th>
  <th>DATE DE DEBUT</th>
  <th>DATE DE FIN</th>
  <th>EDITER</th>
  <th>SUPPRIMER</th>

  </thead>
  <tr *ngFor="let ftn of formations">
    <td>{{ftn.id}}</td>
    <td>{{ftn.titre}}</td>
    <td>{{ftn.dateDebut}}</td>
    <td>{{ftn.dateFin}}</td>

    <td><button class="btn btn-warning" [routerLink]="['/formation/edit',ftn.id]" routerLinkActive="active">EDITER</button>&nbsp;</td>
     <td> <button class="btn btn-danger" (click)="delete(ftn.id)">SUPPRIMER</button></td>
  </tr>


</table>
