<h1 class="text-center mt-5">Liste des formateurs</h1>
<div *ngIf="message" class="alert alert-info">{{message}}</div>
<button class="btn btn-info shadow mb-4 mt-4" [routerLink]="['/formateur/edit']" routerLinkActive="active"> Ajouter un nouveau formateur</button>
<table class="table table-striped table-hover">
  <thead>
  <th>ID</th>
  <th>NOM</th>
  <th>PRENOM</th>
  <th>ADRESSE</th>
  <th>EMAIL</th>
  <th>TELEPHONE</th>
  <th>EDITER</th>
  <th>SUPPRIMER</th>
  </thead>
  <tr *ngFor="let f of formateurs">
    <td> {{ f.id }}  </td>
    <td> {{ f.nom }}  </td>
    <td> {{ f.prenom }}  </td>
    <td> {{ f.adresse }}    </td>
    <td> {{ f.email }}    </td>
    <td> {{ f.telephone }}    </td>
    <td><a class="btn btn-warning shadow-sm" [routerLink]="['/formateur', f.id]" routerLinkActive="active"> EDITER </a></td>
    <td>
      <button class="btn btn-danger shadow-sm" (click)="delete(f.id)">SUPPRIMER</button>
    </td>
  </tr>
</table>

