
<form (ngSubmit)="send()" #monForm="ngForm">
  <div *ngIf="ordinateur.id">
    <h1>Modifier un ordinateur</h1>
  </div>
  <div *ngIf="!ordinateur.id">
    <h1>Ajouter un ordinateur</h1>
  </div>

  <div class="input-group mb-3">
    <label class="input-group-text">id</label>
    <input [(ngModel)]="ordinateur.id" readonly placeholder="ID généré automatiquement" name="id" #nom="ngModel">
  </div>
    <div *ngIf="nom.dirty && nom.invalid" class="alert-danger">
      *champ vide/non valide </div>

  <div class="input-group mb-3">
    <label class="input-group-text" type="text">code</label>
    <input [(ngModel)]="ordinateur.code" name="code"  required>
  </div>

  <div class="input-group mb-3">
    <label class="input-group-text" type="text">coût(€)/jour</label>
    <input [(ngModel)]="ordinateur.coutJournee"  name="coutJournee" required>
  </div>
  <div class="input-group mb-3">
    <label class="input-group-text" type="text">Processeur</label>
    <input [(ngModel)]="ordinateur.processeur" name="processeur" required>
  </div>

  <div class="input-group mb-3">
    <label class="input-group-text" type="text">RAM (Go)</label>
    <input [(ngModel)]="ordinateur.quantiteRAM" name="quantiteRAM" required>
  </div>
  <div class="input-group mb-3">
    <label class="input-group-text" type="text">Disque dur(Go)</label>
    <input [(ngModel)]="ordinateur.quantiteDD" name="quantiteDD" required>
  </div>
  <div class="input-group mb-3">
    <label class="input-group-text">Année d'achat</label>
    <input [(ngModel)]="ordinateur.anneeAchat" type="text" name="anneeAchat" required>
  </div>

  <div class="input-group mb-3">
    <label class="input-group-text">Stagiaire</label>
    <input type="radio" name="stagiaires" ng-model="dispo" value="nondisponible">Oui
    <input [(ngModel)]="ordinateur.stagiaires" type="radio" name="stagiaires" value="disponible">Non


    <select id="listestagiaires">
      <option [(ngModel)]="ordinateur.stagiaires" name="stagiaires" value=stagiaire.nom>AFFICHER LA LISTE DES STAGIAIRE SI "OUI" </option>
    </select>
  </div>


  <button type="submit" class="btn btn-success" [disabled]="monForm.invalid">Enregistrer</button>
  <button  class="btn btn-secondary" [routerLink]="['/ordinateurs']" routerLinkActive="active">Retour</button>
</form>

