
<form (ngSubmit)="send()" #monForm="ngForm">
  <ng-container *ngIf="ordinateur.id"; else ajouter>
    <h1>Modifier un ordinateur</h1>
  </ng-container>
  <ng-template #ajouter>
    <h1>Ajouter un ordinateur</h1>
  </ng-template>

  <div class="input-group mb-3">
    <label class="input-group-text">id</label>
    <input [(ngModel)]="ordinateur.id" readonly placeholder="ID généré automatiquement" name="id">
  </div>
  <div class="input-group mb-3">
    <label class="input-group-text" type="text">code</label>
    <input [(ngModel)]="ordinateur.code" name="code">
  </div>

  <div class="input-group mb-3">
    <label class="input-group-text" type="text">coût(€)/jour</label>
    <input [(ngModel)]="ordinateur.coutJournee"  name="coutJournee">
  </div>
  <div class="input-group mb-3">
    <label class="input-group-text" type="text">Processeur</label>
    <input [(ngModel)]="ordinateur.processeur" name="processeur">
  </div>

  <div class="input-group mb-3">
    <label class="input-group-text" type="text">RAM (Go)</label>
    <input [(ngModel)]="ordinateur.quantiteRAM" name="quantiteRAM">
  </div>
  <div class="input-group mb-3">
    <label class="input-group-text" type="text">Disque dur(Go)</label>
    <input [(ngModel)]="ordinateur.quantiteDD" name="quantiteDD">
  </div>
  <div class="input-group mb-3">
    <label class="input-group-text">Année d'achat</label>
    <input [(ngModel)]="ordinateur.anneeAchat" type="text" name="anneeAchat">
  </div>

  <div class="input-group mb-3">
    <label class="input-group-text">Stagiaire</label>
    <input [(ngModel)]="ordinateur.stagiaires" type="radio" name="disponibilite" value="true">Oui
    <input [(ngModel)]="ordinateur.stagiaires" type="radio" name="disponibilite" value="false">Non
  </div>
  <button type="submit" class="btn btn-success" [disabled]="monForm.invalid">Enregistrer</button>
  <button  class="btn btn-secondary" [routerLink]="['/ordinateurs']" routerLinkActive="active">Retour</button>
</form>
