<form (ngSubmit)="save()" #monForm="ngForm">
  <div class="form-group">
    <label>Nom</label>
    <input name="nom" [(ngModel)]="gestionnaire.nom" required class="form-control" #nom="ngModel">
  </div>
  <div *ngIf="nom.dirty && nom.invalid" class="alert-danger">
    *information obligatoire </div>
  <div>
    <label>Prénom</label>
    <input type="text" name="prenom" [(ngModel)]="gestionnaire.prenom" required class="form-control" #prenom="ngModel">
  </div>
  <div *ngIf="prenom.dirty && prenom.invalid" class="alert-danger">*champ obligatoire </div>
  <div class="form-group">
    <label>Adresse</label>
    <input name="adresse" [(ngModel)]="gestionnaire.adresse" required class="form-control" #adresse="ngModel">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input name="Email" [(ngModel)]="gestionnaire.email" required class="form-control" #email="ngModel">
  </div>
  <div class="form-group">
    <label>Telephone</label>
    <input name="telephone" [(ngModel)]="gestionnaire.telephone" required class="form-control" #telephone="ngModel">
  </div>
  <div class="form-group">
    <label>mot de passe</label>
    <input name="motDePasse" [(ngModel)]="gestionnaire.motDePasse" required class="form-control" #motDePasse="ngModel">
  </div>
  <div>
    <button type="submit" class="btn btn-success" [disabled]="monForm.invalid"> Envoyer</button>
    <a [routerLink]="['/gestionnaires']" routerLinkActive="active" class="btn btn-warning">retour</a>
  </div>
</form>
